
body {
    font-family: Arial;
    margin: 0;
    background: linear-gradient(135deg, #2e0854, #4b0082);
    color: white;
}

header {
    text-align: center;
    padding: 15px;
    color: gold;
    font-size: 22px;
    font-weight: bold;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 15px;
}

.card {
    background: rgba(0,0,0,0.4);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 6px;
    border: none;
    box-sizing: border-box;
}

button {
    background: gold;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #ffd700;
}

.dropdown {
    background: white;
    color: black;
    position: absolute;
    width: 90%;
    max-height: 150px;
    overflow-y: auto;
    border-radius: 6px;
    z-index: 10;
}

.dropdown div {
    padding: 8px;
    cursor: pointer;
}

.dropdown div:hover {
    background: gold;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    color: black;
    font-size: 14px;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background: gold;
}

.present { color: green; font-weight: bold; }
.late { color: red; font-weight: bold; }
.absent { color: gray; }

@media (max-width: 600px) {
    table { font-size: 12px; }
}
nav {
    background: rgba(95, 255, 50, 0.4);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 15px;
    max-width: 900px;
    margin: auto;
}
